<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>{{ page.title | site.title }}</title>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
<!--  CSS  -->
<link rel="stylesheet" href='{{"/css/linearicons.css" | relative_url}}'>
<link rel="stylesheet" href='{{"/css/font-awesome.min.css" | relative_url}}'>
<link rel="stylesheet" href='{{"/css/bootstrap.css" | relative_url}}'>
<link rel="stylesheet" href='{{"/css/magnific-popup.css" | relative_url}}'>
<link rel="stylesheet" href='{{"/css/nice-select.css" | relative_url}}'>
<link rel="stylesheet" href='{{"/css/animate.min.css" | relative_url}}'>
<link rel="stylesheet" href='{{"/css/owl.carousel.css" | relative_url}}'>
<link rel="stylesheet" href='{{"/css/main.css" | relative_url}}'>
{% seo title=false%}
<!--  JS Libs  -->
<script src="{{'/js/vendor/jquery-2.2.4.min.js' | relative_url}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{'/js/vendor/bootstrap.min.js' | relative_url}}"></script>
<script src="{{'/js/libs/easing.min.js' | relative_url}}"></script>
<script src="{{'/js/libs/hoverIntent.js' | relative_url}}"></script>
<script src="{{'/js/libs/superfish.min.js' | relative_url}}"></script>
<script src="{{'/js/libs/jquery.magnific-popup.min.js' | relative_url}}"></script>
<script src="{{'/js/libs/owl.carousel.min.js' | relative_url}}"></script>
<script src="{{'/js/libs/jquery.sticky.js' | relative_url}}"></script>
<script src="{{'/js/libs/jquery.nice-select.js' | relative_url}}"></script>
<script src="{{'/js/libs/parallax.min.js' | relative_url}}"></script>
<script src="{{'/js/libs/particles.min.js' | relative_url}}"></script>
<script src="{{'/js/libs/wow.min.js' | relative_url}}"></script>
<script src="{{'/js/main.js' | relative_url}}"></script>