<div class="slideInDown animated">
	<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 1000 205" style="enable-background:new 0 0 1000 205;" xml:space="preserve">
		<style type="text/css">
			.st1{fill:#fff;stroke:#fff;stroke-miterlimit:10;}
			.st2{font-family:'Open Sans',sans-serif;font-weight: 600;}
			.st3{font-size:87px;}
			.st5{font-family:'Open Sans',sans-serif;font-weight: 300;}
			.banner-linija{fill:#fff;stroke:#fff;stroke-width:6px;stroke-miterlimit:10;}
			.st7{font-family:'Open Sans',sans-serif;font-weight: 300;font-style: italic;}
			.st8{font-size:50px;}
			.st10{font-family:'Open Sans',sans-serif;font-weight: 400;font-style: italic;}
		</style>
		<line id="linija-gore" class="banner-linija" x1="0" y1="60.5" x2="937" y2="60.5"></line>
		<line id="linija-dole" class="banner-linija" x1="0" y1="145" x2="937" y2="144.9"></line>
		<text id="slogan-gore" transform="matrix(1 0 0 1 0 41)" class="st1 st7 st8 st9">Od</text>
		<text transform="matrix(1 0 0 1 85 40)" class="st1 st10 st8" id="slogan-integral">integrala</text>
		<text transform="matrix(1 0 0 1 663 194)" class="st1 st7 st8">do</text>
		<text transform="matrix(1 0 0 1 734 193)" id="slogan-inzenjer" class="st1 st10 st8 st9">inženjera</text>
		<text textLength="500" lengthAdjust="spacing" id="main-text" class="st1 st2 st3" transform="matrix(1 0 0 1 0 134)">BRAND NEW</text>
		<text textLength="425" lengthAdjust="spacing" transform="matrix(1 0 0 1 516 134)" class="st1 st5 st3">ENGINEERS</text>
	</svg>
</div>