<section class="about-area wow slideInUp" id="about-project" style="margin-top:40px">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="text-white">O projektu</h1>
					<p>Ideja projekta Brand New Engineers - Od integrala do inženjera jeste da zbliži
						studente sa kompanijama kroz vežbu i realne zadatke koje su potrebne kompanijama i
						na taj način im predstavi kojim sve putevima mogu da nastave svoju karijeru nakon
						završetka studija. Isto tako je i velika spona između profesora i studenata
						Elektrotehničkog fakulteta i upoznaje studente sa aktuelnim dostignućima i
						dešavanjima u svetu inženjeringa.</p>
				</div>
			</div>
		</div>
	</div>
</section>