<section class="competition-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Izaberi hakaton po svojoj meri!</h1>
					<p>1 2 3 prijavi se ti</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 single-price">
				<div class="top-part">
					<h1 class="package-no">ABB</h1>
					<h4>ABB</h4>
					<p>Ako bude bice!</p>
				</div>
				<div class="package-list">
					<ul>
						<li>Robotika</li>
						<li>Unlimited Styles for interface</li>
						<li>Reliable Customer Service</li>
					</ul>
				</div>
				<div class="bottom-part">
					<a class="price-btn price-btn-disabled text-uppercase" href="#">TBA</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 single-price">
				<div class="top-part">
					<h1 class="package-no">#1</h1>
					<h4>Hakaton #1</h4>
					<p>For the individuals</p>
				</div>
				<div class="package-list">
					<ul>
						<li>Secure Online Transfer</li>
						<li>Unlimited Styles for interface</li>
						<li>Reliable Customer Service</li>
					</ul>
				</div>
				<div class="bottom-part">
					<a class="price-btn price-btn-disabled text-uppercase" href="#">TBA</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 single-price">
				<div class="top-part">
					<h1 class="package-no">#2</h1>
					<h4>Hakaton #2</h4>
					<p>For the individuals</p>
				</div>
				<div class="package-list">
					<ul>
						<li>Secure Online Transfer</li>
						<li>Unlimited Styles for interface</li>
						<li>Reliable Customer Service</li>
					</ul>
				</div>
				<div class="bottom-part">
					<a class="price-btn price-btn-disabled text-uppercase" href="#">TBA</a>
				</div>
			</div>
		</div>
	</div>
</section>