<!-- start banner Area -->
<div id="loading-blackness"></div><!-- BLACK SCREEN OF LOADING -->
<section class="cover-area relative" id="cover">
	<div id="particles-js" class="overlay overlay-bg"></div>
	<div draggable="true" id="banner-logo">
		<img src='{{"/img/banner-logo.png" | relative_url }}' alt="logo" title=""/>
	</div>
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="cover-content col-lg-9 col-md-12">
				{% include home/_logo.html %}
				<div class="countdown animated-onload fadeInUp delay-1s owl-counter" id="timer-carousel">

				</div>
				<h4 class="animated-onload fadeInLeft delay-15s"><span class="lnr lnr-calendar-full"></span>  12. novembra - 14. decembra 2019.</h4>
				<h4 class="animated-onload fadeInRight delay-15s"><span class="lnr lnr-map-marker"></span>   Elektrotehnički fakultet, Beograd</h4>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->